@import '../../src/lib/bb-ui/styles/main.scss';

.content{
	background: url(../assets/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding: 30px 0 30px;
    height: 88vh;
}

.container {
    height: 40px;
    padding: 0%;
}

.row {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    span {
        color: $primary-blue;
        font-style: italic;
    }
}